@media (min-width: 992px) {

  .is-active-wrapper {
    position: relative;

    .is-active {
      padding: 0 0 17.5px 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
// .mat-title{

//   margin-left: 1px;
// }
.mat-filed{

  width:400px;
}

.active{
  margin-top: 2%;
}

table {
  width: 100%;
}
