<div data-layout="row" data-layout-align="end" data-layout-gap="4px"  class="container m-b-20">
  <button mat-raised-button color="primary" *mifosxHasPermission="'UPDATE_REPORT'" (click)="onEdit()">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    Edit
  </button>
</div>

<div class="container m-b-20">
  <mat-card>
    <mat-card-header data-layout="column">
      <mat-card-title>Survey</mat-card-title>
      <mat-divider [inset]="true"></mat-divider>
    </mat-card-header>
    <mat-card-content>

      <div data-layout="row wrap" class="content">
        <div data-flex="40"  class="header">
          <b>Key:</b>
        </div>

        <div data-flex="60" >
          {{surveyData.key}}
        </div>

        <div data-flex="40"  class="header">
          <b>Name:</b>
        </div>

        <div data-flex="60" >
          {{surveyData.name}}
        </div>

        <div data-flex="40"  class="header">
          <b>Country Code:</b>
        </div>

        <div data-flex="60" >
          {{surveyData.countryCode}}
        </div>

        <div data-flex="40"  class="header">
          <b>Description:</b>
        </div>

        <div data-flex="60" >
          {{surveyData.description}}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>

<div class="container m-b-20">
  <mat-card class="questions">
    <mat-card-header data-layout="column">
      <mat-card-title>Questions</mat-card-title>
      <mat-divider [inset]="true"></mat-divider>
    </mat-card-header>
    <mat-card-content>
      <div class="survey_questions" *ngFor="let questionData of surveyData.questionDatas; index as i">
        <mat-card>
          <mat-card-content>
            <div>Question: {{i+1}}</div>
            <div data-layout="row" id="key_text">
              <div data-flex="25"  class="header">
                <b>Key:</b>
              </div>

              <div data-flex="40" >
                {{questionData.key}}
              </div>
              <div data-flex="40"  class="header">
                <b>Text:</b>
              </div>

              <div data-flex="40" >
                {{questionData.text}}
              </div>
            </div>
            <div data-layout="row" id="description">
              <div data-flex="20"  class="header">
                <b>Description:</b>
              </div>

              <div data-flex="40" >
                {{questionData.description}}
              </div>
            </div>
            <div data-layout="column" id="questionaire">
              <div><b>Option: </b></div>
              <table id="response">
                <tr>
                  <th *ngFor="let column of displayedColumns">{{column | titlecase}}</th>
                </tr>
                <tr *ngFor="let row of questionData.responseDatas">
                  <td *ngFor="let column of displayedColumns">
                    {{row[column]}}
                  </td>
                </tr>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
