
<style>
  .d-block{
  display:block !important;
  }

</style>

<mat-divider></mat-divider>
<mat-card fxLayoutAlign="center center" class="d-block" style="display:block !important;" fxFlex="1 0 auto">
  <div style="display: flex;margin: 0% 38%;">
    <img src="assets/images/mifos-logo-flat.png" alt="Vivriti" class="img-container" style="width: 35px; height: 35px;">
    <div style="margin-top: 12%;margin-left: 5%;">ZEUS</div>
  </div>
<form  [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" id="reset-password-form">

  <mat-form-field fxFlexAlign="center" class="reset-password-input" style="display:block !important;">
    <span matPrefix>
      <fa-icon icon="lock" size="lg"></fa-icon>&nbsp;&nbsp;
    </span>
    <mat-label>Password</mat-label>
    <input type="{{ passwordInputType }}" matInput required formControlName="password">
    <button mat-button *ngIf="resetPasswordForm.controls.password.value && !loading" matSuffix mat-icon-button
      (mousedown)="passwordInputType = 'text'" (mouseup)="passwordInputType = 'password'">
      <fa-icon *ngIf="passwordInputType === 'password'" icon="eye"></fa-icon>
      <fa-icon *ngIf="passwordInputType === 'text'" icon="eye-slash"></fa-icon>
    </button>
    <mat-error *ngIf="resetPasswordForm.controls.password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlexAlign="center" class="reset-password-input" style="display:block !important;">
    <span matPrefix>
      <fa-icon icon="check-circle" size="lg"></fa-icon>&nbsp;&nbsp;
    </span>
    <mat-label>Confirm Password</mat-label>
    <input type="password" matInput required formControlName="repeatPassword">
    <mat-error *ngIf="resetPasswordForm.controls.repeatPassword.hasError('required')">
      Confirm Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <p class="reset-password-error" *ngIf="resetPasswordForm.errors?.passwordsDoNotMatch &&
    (!resetPasswordForm.controls.password.hasError('required') && !resetPasswordForm.controls.repeatPassword.hasError('required'))">
    Passwords <strong>do not match</strong>
  </p>

  <button mat-raised-button color="primary" fxFlexAlign="center" class="reset-password-button" [disabled]="!resetPasswordForm.valid">
    Reset Password
    <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
  </button>

</form>
</mat-card>
