<form [formGroup]="createPartnerForm">

  <div data-layout="row" data-layout-gap="16px">

    <mat-form-field data-flex="35">
      <mat-label>Partner Type</mat-label>
      <mat-select formControlName="partnerType">
        <mat-option>Select</mat-option>
        <mat-option *ngFor="let partnerType of partnerTypeOptions" [value]="partnerType.id">
          {{ partnerType.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field data-flex="35">
      <mat-label>Model Limit</mat-label>
      <input matInput type="number" formControlName="modelLimit">
    </mat-form-field>

  </div>

  <div data-layout="row" data-layout-gap="16px">

    <mat-form-field data-flex="35">
      <mat-label>Approved Limit</mat-label>
      <input matInput type="number" formControlName="approvedLimit" required>
    </mat-form-field>

    <mat-form-field data-flex="35">
      <mat-label>Pilot Limit</mat-label>
      <input matInput type="number" formControlName="pilotLimit">
    </mat-form-field>

  </div>

  <div data-layout="row" data-layout-gap="16px">

    <mat-form-field data-flex="35">
      <mat-label>Partner Float Limit</mat-label>
      <input matInput type="number" formControlName="partnerFloatLimit">
    </mat-form-field>

    <mat-form-field data-flex="35">
      <mat-label>Balance Limit</mat-label>
      <input matInput type="number" formControlName="balanceLimit">
    </mat-form-field>

  </div>

  <div data-layout="row" data-layout-gap="16px">
    <mat-form-field data-flex="35" (click)="agreementStartDateDatePicker.open()">
      <mat-label>Agreement Start Date</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="agreementStartDateDatePicker"
        formControlName="agreementStartDate">
      <mat-datepicker-toggle matSuffix [for]="agreementStartDateDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #agreementStartDateDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field data-flex="35" (click)="agreementExpiryDateDatePicker.open()">
      <mat-label>Agreement Expiry Date</mat-label>
      <input matInput [min]="minDate" [matDatepicker]="agreementExpiryDateDatePicker"
        formControlName="agreementExpiryDate">
      <mat-datepicker-toggle matSuffix [for]="agreementExpiryDateDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #agreementExpiryDateDatePicker></mat-datepicker>
    </mat-form-field>

  </div>

  <div data-layout="row" data-layout-gap="16px">

    <mat-form-field data-flex="35">
      <mat-label>Underlying Assets</mat-label>
      <mat-select formControlName="underlyingAssets">
        <mat-option>Select</mat-option>
        <mat-option *ngFor="let underlyingAssets of underlyingAssetsOptions" [value]="underlyingAssets.id">
          {{ underlyingAssets.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field data-flex="35">
      <mat-label>Security</mat-label>
      <mat-select formControlName="security">
        <mat-option>Select</mat-option>
        <mat-option *ngFor="let security of securityOptions" [value]="security.id">
          {{ security.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div data-layout="row" data-layout-gap="16px">

    <mat-form-field data-flex="35">
      <mat-label>FLDG Calculation On</mat-label>
      <mat-select formControlName="fldgCalculationOn">
        <mat-option>Select</mat-option>
        <mat-option *ngFor="let fldgCalculationOn of fldgCalculationOnOptions" [value]="fldgCalculationOn.id">
          {{ fldgCalculationOn.name }}
        </mat-option>
      </mat-select>

    </mat-form-field>

  </div>

  <h4 fxFlex="38%" class="mat-h4">
  </h4>

  <h4 fxFlex="38%" class="mat-h4">
  </h4>


  <div data-layout-align="center center" data-layout-gap="4px">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      Previous
    </button>
    <button mat-raised-button matStepperNext>
      Next&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>


</form>
