<div class="container">

  <mat-card>

    <form [formGroup]="passwordPreferencesForm" (ngSubmit)="submit()">

      <mat-card-content>

        <mat-radio-group data-layout="column" formControlName="validationPolicyId" data-layout-gap="10px">
          <mat-radio-button *ngFor="let passwordPreference of passwordPreferencesData" [value]="passwordPreference.id">
            <span class="description-wrap">{{ passwordPreference.description }}</span>
          </mat-radio-button>
        </mat-radio-group>

      </mat-card-content>

      <div data-layout="row" data-layout-align=" center center" data-layout-gap="5px">
      <mat-card-actions >
        <button type="button" mat-raised-button [routerLink]="['../']">Cancel</button>
        <button mat-raised-button color="primary" [disabled]="passwordPreferencesForm.pristine" *mifosxHasPermission="'UPDATE_PASSWORD_VALIDATION_POLICY'">Submit</button>
      </mat-card-actions>
      </div>
    </form>

  </mat-card>

</div>
