<div class="container m-b-20" data-layout="row"  data-layout-align="end" data-layout-gap="4px">
  <button mat-raised-button color="primary" [routerLink]="['edit']">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    Edit
  </button>
  <button mat-raised-button color="primary" [routerLink]="['viewhistory']">
    View History
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div data-layout="row wrap" class="content">

        <div data-flex="50" class="mat-body-strong">
          Job Name
        </div>
          
        <div data-flex="50">
          {{ jobData.displayName }}
        </div>

        <div data-flex="50" class="mat-body-strong">
          Cron Expression
        </div>

        <div data-flex="50">
          {{ jobData.cronExpression }}
        </div>

        <div data-flex="50" class="mat-body-strong">
          Is Active Job?
        </div>

        <div data-flex="50">
          {{ jobData.active }}
        </div>

        <div data-flex="50" class="mat-body-strong">
          Follow
        </div>

        <div data-flex="50">
          <a href="http://www.cronmaker.com/">	Click Here To Generate Cron Expression </a>
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
