<div class="container">

  <mat-card>

    <form [formGroup]="roleForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div data-layout="column">

          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="roleForm.controls.name.hasError('required')">
              Role Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput required formControlName="description"></textarea>
            <mat-error *ngIf="roleForm.controls.description.hasError('required')">
              Role Description is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>

        </mat-card-content>

        <div data-layout="row"  data-layout-align="center center" data-layout-gap="5px">
        <mat-card-actions>
          <button type="button" mat-raised-button [routerLink]="['../']">Cancel</button>
          <button mat-raised-button color="primary" [disabled]="!roleForm.valid">Submit</button>
        </mat-card-actions>
        </div>

      </form>

    </mat-card>

</div>
