email=dineshkumaran.m@vivriticapital.com
always-auth=true
registry=https://vcpl.jfrog.io/artifactory/api/npm/vcpl-npm-app-npm-remote/
//vcpl.jfrog.io/artifactory/api/npm/vcpl-npm-app-npm-remote/:_auth=ZGluZXNoa3VtYXJhbi5tQHZpdnJpdGljYXBpdGFsLmNvbTpjbVZtZEd0dU9qQXhPakUzTXpnek1UZ3lNVEE2Y21vMVdHWmxORXh3UWsxdmIxcERibEEzZGxoWFNFdDZZWE5u