.penalty-wrapper {
  padding: 17.5px 0 17.5px 0;
}

.active-wrapper {

  padding: 17.5px 0 17.5px 0;

}

.default-wrapper{

  padding: 17.5px 0 17.5px 0;

}

.add-fee-frequency-wrapper {
  padding: 17.5px 0 17.5px 0;
}

h5 {
  font-size: 125%;
  margin: 0.7em 0;
}

.mat-filed{
 width:49%;
}

.mat-checkBox{
 width:30%;
}
