<div class="container">


    <div *NgIf="variable1">
      <h1>Penny drop initiated</h1>
    </div>

    <div *NgIf="variable2">
      <h1>Penny Drop Failed</h1>

    </div>

<!--        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">-->
<!--          <button type="button" mat-raised-button [routerLink]="['../../general']">Cancel</button>-->
<!--          <button mat-raised-button color="primary" [disabled]="!rescheduleLoanForm.valid"-->
<!--                  *mifosxHasPermission="'APPROVE_RESCHEDULELOAN'">Submit</button>-->
<!--        </mat-card-actions>-->



</div>
