 table {
   width: 100%;
 }

 .mat-elevation-z1 {
   margin: 1em 0 1.5em 0;
 }

 h3,
 h4 {
   font-weight: 500;
 }

 h5 {
   font-size: 131%;
   margin: 0.4em 0;
 }


 h4 {
   margin: 1em 0;
 }

 .margin-v {
   margin: 1.4em 0;
 }

 .margin-d {
   margin: 0em 22px;
 }

 mat-divider {
   margin: 1em 0 2em 0;
 }

 .margin-t {
   margin-top: 2em;
 }

 .container {
   max-width: 96em;
   width: 100%;
 }

 table {
   table-layout: auto;
   width: 100%;
 }

 .custom-mat-filed{
  width:49%;
 }

 .mat-filed{
  width:35%;
 }

 .custom-checkbox-margin {
   margin-top: 0px;
   line-height: 73px;
   width: 33%;
 }

 .custom-toggle-margin{
 margin-top: 25px;
    line-height: 73px;
    width: 33%;
 }

