<div class="container m-b-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="2%">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *mifosxHasPermission="'UPDATE_TAXGROUP'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    Edit
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div data-layout="column" class="content">

        <div data-flex="33%" class="mat-body-strong">
          Name
        </div>

        <div data-flex="67%">
          {{ taxGroupData.name }}
        </div>

        <div data-flex="34%" class="mat-body-strong">
          Tax-Component Name
        </div>

        <div data-flex="33%" class="mat-body-strong">
          Start Date
        </div>

        <div data-flex="33%" class="mat-body-strong">
          End Date
        </div>

      </div>

      <div data-layout="column" class="content"  *ngFor="let taxcomponent of taxGroupData.taxAssociations">

          <div data-flex="34%">
            {{ taxcomponent.taxComponent.name }}
          </div>

          <div data-flex="33%">
            {{ taxcomponent.startDate  | dateFormat }}
          </div>

          <div data-flex="33%" *ngIf="taxcomponent.endDate !== undefined || taxcomponent.endDate !== null">
            {{ taxcomponent.endDate  | dateFormat }}
          </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
