<div data-layout="column" data-layout-align="center center" id="footer" class="m-b-20">
  <mat-divider  class="divider"></mat-divider>
  <p data-layout-align="center center" class="footer-content">Version <b> 2.1 </b></p>
  <p data-layout-align="center center" class="footer-content" *ngIf="isBusinessDateDefined">Current Business Date: <b>{{ businessDate | date: 'EEEE, MMMM dd, y' }}</b></p>
  <mat-divider  class="divider"></mat-divider>
  <p data-layout-align="center center" class="footer-content">by Vivriti Capital</p>
</div>
