@media (min-width: 992px) {

  .multi-row-wrapper {
    position: relative;
    vertical-align: top;
    margin-left: 10%;
    
    .multi-row {
      padding: 0 0 17.5px 0;
      position: absolute;
      bottom: 0;
      right: 30;
    }
  }

}
.mat-filed{

  width:10px;
}
.button-filed{

  width: 200px;
}

table {
  width: 100%;
}


